.colunaCustom {	
	background: rgba(0, 0, 0, 0.05);
	margin: 15px;
	padding: 15px;
}
.bloco_link{
	color: #000;
}
.bloco_link:hover{
	color: #fff;
}
.img_perfil{
	width: 128px;
	height: 128px;
	border-radius: 50px;
}
.header_coluna{
	display: flex;
	justify-content: space-between;
}
.header_flexInicio{
	display: flex;
	justify-content: flex-start;
}
.header_flexFinal{
	display: flex;
	justify-content: flex-end;
}
.block_partida{
	border-radius: 5px;
	background-color: #dedede;
	margin: 25px;
	padding: 10px;
	align-content: center;
	height: 150px;
}
.flex-div{
	display: flex;
    justify-content: flex-end !important;
}
.abc{
	background-color: whitesmoke;
	margin: 25px;
	padding: 10px;
	border-radius: 10px;
}
a .customLink{
	color: #000 !important;
}